<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CXScrollViewCircleZoom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11EF93101EC2E7F0006CABB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EF93291EC2E7F0006CABB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EF93341EC2E7F1006CABB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
